<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/comptabilite_db?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true&amp;zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">comptabilite_user</property>
        <property name="hibernate.connection.password">comptabilite_pass</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Naming strategy -->
        <property name="hibernate.physical_naming_strategy">org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping entities -->
        <mapping class="com.comptabilite.model.Utilisateur"/>
        <mapping class="com.comptabilite.model.Entreprise"/>
        <mapping class="com.comptabilite.model.Compte"/>
        <mapping class="com.comptabilite.model.EcritureComptable"/>
        <mapping class="com.comptabilite.model.LigneEcriture"/>
        <mapping class="com.comptabilite.model.Exercice"/>
        <mapping class="com.comptabilite.model.Client"/>
        <mapping class="com.comptabilite.model.Fournisseur"/>
        <mapping class="com.comptabilite.model.Facture"/>
        <mapping class="com.comptabilite.model.LigneFacture"/>
    </session-factory>
</hibernate-configuration>